<!--引入页头-->
{{template "header2" .}}

<div class="body_center">
<!--引入导航条-->
{{template "navbar" .}}

  <div class="container bk_color">
  <h2><a href="###" id="list_btn" class="btn btn-primary">博客列表 <span class="badge">{{.Page.TotalRecNum}}</span></a>　{{if .IsLogin}}<a href="/topic/add" class="btn btn-success">发布博客</a>　<a  href="###" id="draft_btn" class="btn btn-info">草稿箱 <span class="badge draft_num">{{.DraftNum}}</span></a>　<a href="###" id="all_delete" class="btn btn-primary">批量删除</a>　<span class="info" style="color:red;font-size:14px;"></span>{{end}}</h2>
  {{$flag:=.IsLogin}}
  <label class="checkbox-inline" style="position:relative;left:8px;top:28px;"><input type="checkbox"  class="all_select"/>全选</label>
  <table class="table table-hover topic_table">
      <thead>
        <tr>
            <th style="width:90px;"></th>
            <th>文章名称</th>
            <th>最后更新</th>
            <th>最后评论时间</th>
            <th>浏览</th>
            <th>评论数</th>
            {{if .IsLogin}}<th>　&nbsp;操作</th>{{end}}
        </tr>
      </thead>
      {{$topicPageNow:=.Page.PageNow}}
      <tbody>
        {{range .Page.PageContent}}
        <tr>
            <td><label class="checkbox-inline">
                <input type="checkbox"  value="{{.Id}}" name="tid"/></label></td>
            <td><a href="/topic/view/{{.Id}}">{{.Title}}</a></td>
            <td>{{date .Updated "Y-m-d H:i:s"}}</td>
            <td>{{date .ReplyTime "Y-m-d H:i:s"}}</td>
            <td>{{.Views}}</td>
            <td>{{.ReplyCount}}</td>
            {{if $flag}}<td><a href="/topic/update/{{.Id}}/{{$topicPageNow}}">修改</a>　<a href="###" class="del_topic" name="{{.Id}}">删除</a></td>{{end}}
        </tr>
        {{end}}
      </tbody>
  </table>
  <!--草稿箱-->

  <table class="table table-hover draft_table hidden">
      <thead>
        <tr>
            <th></th>
            <th>文章名称</th>
            <th>最后更新</th>
            {{if .IsLogin}}<th>　&nbsp;操作</th>{{end}}
        </tr>
      </thead>
      <tbody>
        {{range .Drafts}}
        <tr class="draft_{{.Id}}">
            <td><label class="checkbox-inline">
                <input type="checkbox"  value="{{.Id}}" name="temp"/></label></td>
            <td><a href="/topic/view/{{.Id}}">{{.Title}}</a></td>
            <td>{{date .Updated "Y-m-d H:i:s"}}</td>
            {{if $flag}}<td><a href="/topic/update/{{.Id}}">修改</a>　<a href="###" class="del_topic" name="{{.Id}}">删除</a></td>{{end}}
        </tr>
        {{end}}
      </tbody>
  </table>
<!-- <ul class="pagination pagination-lg">
  <li><a href="#">&laquo;</a></li>
  <li class="active"><a href="#">1</a></li>
  <li><a href="#">2</a></li>
  <li><a href="#">3</a></li>
  <li><a href="#">4</a></li>
  <li><a href="#">5</a></li>
  <li><a href="#">&raquo;</a></li>
</ul>  -->
{{if  gt .Page.TotalPageNum 1}}
  <ul id="pagination" class="pagination pagination-lg">
  </ul>
{{end}}

  </div>
  <div class="FooterPush"></div>
  </div>
  {{template "footer2" .}}

  <!-- 分页的js脚本-->
  {{if  gt .Page.TotalPageNum 1}}
    {{template "pagination" .}}
  {{end}}
  <script>
    function clearTopicTable(){
        $('.draft_table').removeClass('hidden');
        $('.topic_table').addClass('hidden');
        $('#pagination').addClass('hidden');
        $('.draft_table input[type=checkbox]').attr('name', 'tid');
        $('.topic_table input[type=checkbox]').attr('name', 'temp_id');
        $('.topic_table input[type=checkbox]').attr('checked', false);
        $('.all_select')[0].checked=false;
    }
    $(function(){
      {{if .ShowDraft}}
          clearTopicTable();
      {{end}}
      $('#draft_btn').click(function(event) {
           clearTopicTable();
      });
      $('#list_btn').click(function(event) {
            $('.draft_table').addClass('hidden');
            $('.topic_table').removeClass('hidden');
            $('#pagination').removeClass('hidden');
            $('.topic_table input[type=checkbox]').attr('name', 'tid');
            $('.draft_table input[type=checkbox]').attr('name', 'temp_id');
            $('.draft_table input[type=checkbox]').attr('checked', false);
            $('.all_select')[0].checked=false;
      });
      $('.all_select').click(function(event) {
            if($(this)[0].checked){
               $('input[name=tid]').each(function(index, el) {
                  $(el)[0].checked='checked';
                  //todo:$('input[name=tid]').attr('checked', true);
                  //第一次使用成功,以后失败?
               });
            }else{
               $('input[name=tid]').attr('checked', false);
            }
      });
      //注意元素的事件绑定
      $('input[name=tid],input[name=temp],#draft_btn,#list_btn').click(function(event) {
        var flag=true;
        $('input[name=tid]').each(function(index, el) {
           if(!$(el)[0].checked){
              flag=false;
           }
        });
        if(flag){
          $('.all_select')[0].checked=true;
        }else{
          $('.all_select')[0].checked=false;
        }
      });
      //批量删除
      $('#all_delete,.del_topic').click(function(event) {
          var arr=new Array();
          if($('.all_select')[0].checked){//全选
             $('input[name=tid]').each(function(index, el) {
                arr.push($(el).val());
             });
          }else{
            $('input[name=tid]:checked').each(function(index, el) {
               arr.push($(el).val());
            });
          }
          var delAll=false;
          if($(this).hasClass('del_topic')){
            arr.push($(this).attr('name'));
            if(1==$('.topic_table input[name=tid]').length){
               delAll=true;
            }
          }
          var tids=arr.join(',');
          if(tids.length>0){
            if(confirm("确认删除吗?")){
              $.post("/topic/batchDelete/"+tids, function(data){
                  //先取得当前的页数
                  var pageNow={{.Page.PageNow}};
                  //重新查询数据库，取得最新的总共页数
                  var totalPageNum=$.parseJSON(data).totalPageNum;
                  //二者对比，决定要加载哪一页的内容
                  //考虑全选的情况即可
                  if($('.all_select')[0].checked||delAll){
                      if(totalPageNum>pageNow){
                        pageNow+=1;
                      }else if(totalPageNum<pageNow){
                        pageNow-=1;
                      }
                  }
                  //判断是否是批量删除草稿
                  if($('.topic_table').hasClass('hidden')){//批量删除草稿
                      //不考虑分页
                      $.each(arr, function(index, val) {
                         $('.draft_'+val).remove();
                      });
                      //修改草稿的数量
                      var num=parseInt($('.draft_num').html());
                      $('.draft_num').html(num-arr.length);
                      
                  }else{
                      $(window)[0].location.href="/topic?op=manage&pageNow="+pageNow;
                  }
              });
            }
          }else{
            $('.info').html('请先选择要删除的文章.');
            setTimeout(function(){
              $('.info').html('');
            },3000);
          }
      });
    })
  </script>
</html>